
body{
  background-color: #CCCCCCC;
  background-image: url("images/bg.jpg");


}

.spacer{
  margin:100px 0;
}

.button{
  border: 5px solid black;
  border-radius: 5px;
  padding: 12px;
  font-size: 20px;
  text-align: center;
  width: 10%;
  margin: 0 auto;
}

#gamePage{
  display:none;
}


#start{
  border: 5px solid black;
  border-radius: 5px;
  padding: 12px;
  font-size: 20px;
  text-align: center;
  width: 10%;
  margin: 0 auto;
}

#restart{
  display:none;
}

.instructions{
  font-size: 16px;
  text-align: center;
  margin: 15px;

}


.playerOne{
  position:absolute;
  left: 25px;
  top: 250px;
}

.playerTwo{
  position:absolute;
  left: 25px;
  top: 350px;
}

.kirby{
  width: 125px;
}

.link{
  width: 150px;
}
