
body{
  background: url('../images/bg.jpg');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-attachment: fixed;
  background-size: cover;
}


.button{
  border: 5px solid black;
  border-radius: 5px;
  padding: 12px;
  font-size: 2vw;
  text-align: center;
  width: 300px;
  margin: 0 auto;
  position:fixed;
  top: 22%;
  left: 41.5%;
  background-color: #CCCCCC;
}

#gamePage{
  display:block;
}
#landingPage{
}

#start{
  display:block;
}

#restart{
  display:none;
}

.instructions{
  font-family: 'Shadows Into Light', cursive;
  font-size: 3vw;
  text-align: center;
  margin: 15px;
  position: fixed;
  top: 0;
  left: 38%;

}


.playerOne{
  left: 0;

  width:100%;
}

.playerTwo{
  left: 0;
  width:100%;
}
#link{
  position: fixed;
  left:-3%;
  bottom: 25%;
  width: 22%;
  size:cover;
}
#kirby{
  position:fixed;
  left:-3%;
    bottom: 0%;
  width: 18%;
}
