
body{
  background: url('../images/bg.jpg');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-attachment: fixed;
  background-size: cover;
}


.button{
  border: 5px solid black;
  border-radius: 5px;
  padding: 12px;
  font-size: 100%;
  text-align: center;
  width: 10%;
  margin: 0 auto;
}

#gamePage{
  display:block;
  position:absolute;
}
#landingPage{
  position:absolute;
}

#start{
  border: 5px solid black;
  border-radius: 5px;
  padding: 12px;
  text-align: center;
  width: 10%;
  margin: 0 auto;
}

#restart{
  display:none;
  right: 10%;
}

.instructions{
  font-size: 16px;
  text-align: center;
  margin: 15px;

}


.playerOne{
  left: 0;

  width:100%;
}

.playerTwo{
  left: 0;
  width:100%;
}
.linkPic{
  position: fixed;
  left:-3%;
  bottom: 12%;
  width: 22%;
  size:cover;
}
.kirbyPic{
  position:fixed;
  left:-3%;
    bottom: 0%;
  width: 18%;
}
